[submodule "ainakan-gum"]
	path = subprojects/ainakan-gum
	url = https://github.com/ainakan/ainakan-gum.git
[submodule "ainakan-core"]
	path = subprojects/ainakan-core
	url = https://github.com/ainakan/ainakan-core.git
[submodule "ainakan-python"]
	path = subprojects/ainakan-python
	url = https://github.com/ainakan/ainakan-python.git
[submodule "ainakan-node"]
	path = subprojects/ainakan-node
	url = https://github.com/ainakan/ainakan-node.git
[submodule "ainakan-swift"]
	path = subprojects/ainakan-swift
	url = https://github.com/ainakan/ainakan-swift.git
[submodule "ainakan-clr"]
	path = subprojects/ainakan-clr
	url = https://github.com/ainakan/ainakan-clr.git
[submodule "ainakan-qml"]
	path = subprojects/ainakan-qml
	url = https://github.com/ainakan/ainakan-qml.git
[submodule "ainakan-tools"]
	path = subprojects/ainakan-tools
	url = https://github.com/ainakan/ainakan-tools.git
[submodule "ainakan-go"]
	path = subprojects/ainakan-go
	url = https://github.com/ainakan/ainakan-go
[submodule "releng"]
	path = releng
	url = https://github.com/ainakan/releng.git
